/* Random Css */

.container-fluid {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 0;
}

.container-fluid > .row {
  width: 100%;
  height: 100%;
  align-items: stretch;
  min-height: 100vh;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.menu {
  background-color: #35668A;
  padding: 0;
  width: 80px;
  height: 100vh;
}

.aside-menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
}

.aside-menu-item {
  list-style-image: none;
  display: block;
  margin: 22px 0;
}

.users {
  margin: 0;
  padding: 0;
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.user-list-item {
  background-color: #eaeaea;
  list-style-image: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 12px 5% 12px 0;
  width: 95%;
  padding: 7.5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.user-avatar {
  display: inline-block;
  background: #000;
  border-radius: 50%;
}

.user-list-item > .user-avatar {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.dialog {
  background-color: #eaeaea;
  padding: 0px;
}

.messages {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  padding: 12px;
}

.messages > div {
  padding: 12px;
  border-radius: 10px;
  background: #fff;
  align-self: flex-end;
  width: 80%;
  margin-bottom: 12px;
}

.messages > div.TestAnton {
  background: #ccc;
  align-self: flex-start;
}

.answer {
  padding: 12px;
  border-radius: 10px;
  background: #fff;
  margin: 12px;
}

.answer .form-control {
  border-color: #fff;
  outline: none!important;
}

.answer .input-group {
  margin-top: 12px;
}

.personal {
  background-color: #35668A;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.personal > .user-avatar {
  height: 200px;
  width: 200px;
  margin: -15px;
}

.user-status {
  text-transform: lowercase;
  position: relative;
}

.personal > .user-desc {
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  background: #0000001c;
  width: 100%;
}

.personal > .user-buttons {
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  background: #ffffff1c;
  margin-top: 12px;
  width: 100%;
}
